@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
    font-family: 'Lexend Deca', sans-serif;
}

body {
    color: deeppink !important;
}

.turbolinks-progress-bar {
    height: 2px !important;
    background-color: navy !important;
}

h5 {
    color: red !important;
}
